LM/Relacion5/XSD/Escuela.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="plataforma">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="curso">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="duracion">
                                <xs:complexType>
                                    <xs:attribute name="horas" type="xs:nonNegativeInteger" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="nivel">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Basico" />
                                        <xs:enumeration value="Intermedio" />
                                        <xs:enumeration value="Avanzado" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="profesor">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="[A-Z].*" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="email">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern
                                                        value="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>

                            </xs:element>
                            <xs:element name="alumnos">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="alumno" minOccurs="1"
                                            maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="nombre">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern value="[A-Z].*" />

                                                            </xs:restriction>
                                                        </xs:simpleType>

                                                    </xs:element>
                                                    <xs:element name="dni">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern value="\d{8}[A-Z]" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="nota">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:decimal">
                                                                <xs:minInclusive value="0" />
                                                                <xs:maxInclusive value="10" />
                                                                <xs:pattern value="\d(\.\d)?" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>

                                                </xs:sequence>
                                            </xs:complexType>

                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>

                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="C\d{3}" />

                                </xs:restriction>
                            </xs:simpleType>

                        </xs:attribute>
                    </xs:complexType>

                </xs:element>
            </xs:sequence>
        </xs:complexType>

    </xs:element>
</xs:schema>