LM/Relación4/pedidos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="pedidos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "pedido">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name ="cliente" type="xs:string">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name= "nombre" type="xs:string"/>
                                        <xs:element name = "email" type="xs:string"/>
                                        <xs:element name = "telefono" type="xs:decimal"/>
                                    </xs:sequence>                                    
                                </xs:complexType>
                            </xs:element>
                            <xs:element>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name = "productos" >
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name= "producto">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name = "nombre" type="xs:string"/>
                                                                <xs:element name= "precio" type="xs:decimal"/>
                                                                <xs:element name= "cantidad" maxOccurs="unbounded"/>                                                                
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                   
                                                    

                                                </xs:sequence>
                                            </xs:complexType>

                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>



                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>

                </xs:element>
            </xs:sequence>
        </xs:complexType>
        
    </xs:element>
</xs:schema>