LM/Simulacro examen/granadaCF.dtd

<!ELEMENT granadaCF (club, plantilla)>
<!ELEMENT club (nombre, fundacion, estadio, capacidad)>
<!ELEMENT plantilla (jugador+)>
<!ELEMENT jugador (nombre,dorsal,posicion,nacionalidad,edad)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT fundacion (#PCDATA)>
<!ELEMENT estadio (#PCDATA)>
<!ELEMENT capacidad (#PCDATA)>
<!ELEMENT dorsal (#PCDATA)>
<!ELEMENT posicion (#PCDATA)>
<!ELEMENT nacionalidad (#PCDATA)>
<!ELEMENT edad (#PCDATA)>
<!ATTLIST jugador titular ID #REQUIRED>