LM/Repasoexamen/cartera.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="cartera">
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "cliente" minOccurs="1" maxOccurs="4">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name = "nombre">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value ="[A-ZÁÉÍÓÚÜÑ][a-záéíóúüñ]+ [A-ZÁÉÍÓÚÜÑ][a-záéíóúüñ]+"/>
                                       

                                    </xs:restriction>
                                </xs:simpleType>

                            </xs:element>
                            <xs:element name = "direccion">
                                <xs:simpleType>
                                    <xs:restriction base ="xs:string">
                                        <xs:pattern value="[A-ZÁÉÍÓÚÜÑ][a-záéíóúüñ]+ [A-ZÁÉÍÓÚÜÑ][a-záéíóúüñ]+"/>

                                    </xs:restriction>
                                </xs:simpleType>

                            </xs:element>
                            <xs:element name = "codigoP">
                                <xs:simpleType>
                                    <xs:restriction base = "xs:string">
                                        <xs:pattern value="[0-9]{5}"/>
                                      

                                    </xs:restriction>
                                </xs:simpleType>

                            </xs:element>
                            <xs:element name = "DNI">
                                <xs:simpleType>
                                    <xs:restriction base ="xs:string">
                                        <xs:pattern value="\d{8}[A-Z]"/>

                                    </xs:restriction>
                                </xs:simpleType>

                            </xs:element>
                            <xs:element name = "telefono">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="\d{3}-\d{3}-\d{3}"/>

                                    </xs:restriction>
                                </xs:simpleType>

                            </xs:element>
                            <xs:element name = "altura">
                                <xs:simpleType>
                                    <xs:restriction base = "xs:decimal">
                                        <xs:fractionDigits value="2"/>

                                    </xs:restriction>
                                </xs:simpleType>

                            </xs:element>
                            <xs:element name= "email">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}"/>

                                    </xs:restriction>
                                </xs:simpleType>

                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>

                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>